# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.joblib

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db